* {
  box-sizing: border-box;
}

.font-Inter{
  font-family: 'Inter', sans-serif;
  font-weight: 530;
}

.MuiTimelineConnector-root{
  width: 20rem;
}

body{
  margin:0;
}

.container {
  margin: 1rem;
  text-align: center;

}

.site-title  {
  font-family: Helvetica;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.egg{
  width: 8rem;
  height: 5rem;
  margin-left: -2.5rem;
  margin-top: .4rem;
  
}

.nav-font{
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
}

.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch; /*hover spans entire container*/
  gap: 2rem; /*space in between elements*/
  padding: 0 1rem; /*left and right spaces*/
  height: 4rem;
  border-bottom: .2rem solid black;
  background-color: white;
}


.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display:flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active{
  text-decoration: underline;
  text-decoration-thickness: .2rem;
  text-decoration-color: #E5D126;
}


.nav li:hover{
  transform: scale(1.2);
}

.home-container {
  text-align: left;
  margin: 3rem; 
  font-size: 3rem;
}

.ab-container {
  text-align: left;
  font-size: 3rem;
}

.home-body{
  /*border: 2px solid #000; */
  background-color: #FEF6E4;
}
.name{
  color: #000;
  font-family: Helvetica;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -2rem;
  margin-left: 5rem;
}

.about-container {
  display: flex;
  align-items: center;
  margin: 3rem;
}

.tai-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caption-taiwan{
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  margin-top: -5rem;
  letter-spacing: 0.025rem;
  }

.about-me {
  padding: 5rem;
  margin: 2rem;
  font-size: 1.8rem;
}

.sing {
  padding: 2rem;
  margin: 3rem;
  height: 32rem;
  width: 25rem;
}

.background-container {
  display: flex;
  align-items: center;
}

.taiwan {
  max-height: 40rem;
  max-width: 40rem;
  padding: 5rem;
  margin: 1rem;
}

.hobbies{
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around; /* Optional - Adjust alignment as needed */
  align-items: center;
}

.things-i-enjoy{
  width: 45%;
}

.my-current-obsession{
  width: 40%;
}

.things-i-enjoy h1, .my-current-obsession h1{
  color: #000;
  font-family: Helvetica;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 2.625rem */
  letter-spacing: 0.0875rem;
}

.things-i-enjoy p, .my-current-obsession p {
  color: var(--taffy, #041514);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.025rem;
}

.background {
  padding: 2rem;
}


.background p {
  color: var(--taffy, #041514);
  font-family: Helvetica;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.0625rem;
}


.skill-top{
  text-align: center;
}

.skill-middle-container{
  text-align: left;
  margin: 5rem;
  align-items: left;
}

.skill-middle-container h2 {
  text-align: left;
  margin-left: 12rem;
}

.skills-body{
  display:inline-flex;
}

.timeline{
 flex-basis: 300rem; /* sets initial flexbox width*/
}

.find-me{
  margin-right: 2rem; 
  flex-basis: 50rem; 
}

.git{
  width: 2rem;
  height: 2rem;
}

.link{
  width: 2rem;
  height: 2rem;
}

.find-me ul{
 margin: 1rem 0;
 margin-left: -1.6rem;
 line-height: 3rem;
}

.skills-head {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.skills-title{
  display: inline-block; /* Make the border fit the content width */
  padding: 10px; /* Optional - Add some padding around the text */
  border: 2px solid #333; /* Border style */
  background-color: transparent; 
  margin-top: 5rem;
  margin-left: 12rem;
}

.skills-title h2{
  font-weight: 800;
  margin:0;
}

.greeting {
  color: #000;
  font-family: Helvetica;
  font-size: 5.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  display: flex;
}

.ytop{
  max-height:40rem;
  max-width: 40rem;
  flex-shrink: 0;
  float:right;
  margin-right: 10rem;
  margin-top: -19rem;
  margin-bottom: -8rem;
}

.oblob{
  max-height:20rem;
  max-width: 40rem;
  margin-left: 45rem;
  margin-top: -20rem;
}

.bblob{
  float: right;
  margin-top: -40rem;
  max-height: 20rem;
  max-width: 20rem;
  margin-right: 0rem;
}

.rblob{
  height: 28rem;
  margin-top: -7rem;
  margin-bottom: -3rem;
}

.home-body{
  color: #000;
  font-family: "Inter";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 2.4rem */
  padding: 2rem;
  width: 40.75rem;
  margin-left: 26rem;
  margin-top: -16rem;
  margin-bottom: 6rem;
}

.row-container{
  font-size: 2rem;

}

.row {
  width: 40rem;
  height: 33.75rem;
  background-color: rgba(188, 231, 132, 0.46);
}

.row h1{
  /*margin: 1rem; */
  color: #000;
  font-family: Helvetica;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  margin-left: 46.94rem;
  width: 26.93rem;
  margin-top: 3rem;
  margin-bottom: 0rem;
}


.row p {
  margin: 0rem;
  color: #000;
  font-family: Helvetica;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  margin-left: 46.94rem;
  position: static;
  line-height: 20rem;
  margin-bottom: -11rem;
}

.description1{
  color: #000;
  display: flex;
  width: 14rem;
  height: 2.5625rem;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem !important;
  font-style: normal;
}

.email{
  width: 50%;
  height: 10rem;
  font-size: 2.3rem;
  text-align: center;
  border: .1rem solid black; 
}

.socials{
  width: 50%;
  height: 10rem;
  font-size: 2.3rem;
  text-align: center;
  border: .1rem solid black; 
}

.research{ /*photo of iphone*/
  height: auto;
  width: auto;
  max-width: 20rem;
  max-height: 30rem;
  margin-top: 2.2rem;
  margin-left: 13rem;
}

.row2 {
  margin-top: 2.25rem;
  width: 40.8125rem;
  height: 33.75rem;
  background-color: rgba(156, 201, 240, 0.78);
  float: right;
}

.container-rec {
  margin-top: 2.25rem;
  display: flex;
  justify-content: flex-end; /* Push the rectangle to the far right */
  align-items: center;
}

.rectangle {
  width: 40.8rem;
  height: 33.75rem;
  background-color: rgba(156, 201, 240, 0.78);
}


.container-rec h1{
  color: #000;
  font-family: Helvetica;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  width: 34.75rem;
  margin-right: 8rem;
}

.container-rec p{
  color: #000;
  font-family: Helvetica;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 12rem;
  position: absolute;
  left: 6.5rem;
}

.description2 {
  color: #000;
  display: flex;
  width: 14rem;
  height: 2.5625rem;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem !important;
  margin-top: 22rem;
}

.proj1{
  position: absolute; 
  margin-top: -15rem;
  margin-left: -33rem;
  z-index: 1;
  max-width: 40rem; /* Set the maximum width to 100% of its parent container */
  max-height: 30rem;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.footer{
  display:flex;
  font-size: 3.5rem !important;
  margin-top: 5rem;
}
.projects-h1{
  text-align: center;
  margin-top: 8rem;
  color: var(--dark-grey-80, #101214);
  font-family: Helvetica;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 100% */
  letter-spacing: 0.0625rem;
}

.project-ux-container{
  display: flex;
  justify-content: center;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

.proj1-box{
  margin-right: 5rem;
}

.proj1-box h4{
  color: var(--dark-grey-80, #101214);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem; /* 137.5% */
  letter-spacing: 0.0625rem;
  margin-top: -.1rem;
  margin-bottom: -1rem;
}

.proj1-box p {
  color: var(--dark-grey-60, #73808D);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 120% */
  letter-spacing: 0.03125rem;
}

.project-travel{
  border: .2rem solid;
  margin-right: 5rem;
  width: 28rem;
  height: 20rem;
  flex-shrink:0;
  background-color: #DBECFF;
}

.proj2-box h4{
  margin-left: 5rem;
  color: var(--dark-grey-80, #101214);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem; /* 137.5% */
  letter-spacing: 0.0625rem;
  margin-bottom: -1rem;
}

.proj2-box p{
  margin-left: 5rem;
  color: var(--dark-grey-60, #73808D);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 120% */
  letter-spacing: 0.03125rem;
}

.project-research{
  border: .2rem solid;
  float: right;
  margin-left: 5rem;
  width: 28rem;
  height: 20rem;
  flex-shrink:0;
  flex-grow: 0;
  background-color: #FFEFD7;
}

.other-projects {
  display: flex;
  flex-direction: column; /* Arrange rows vertically */
  align-items: center; /* Center horizontally */
  margin-top: 5rem;
}

.row-projects {
  display: flex; /* Arrange boxes in a row */
  justify-content: center; /* Center horizontally */
  margin-bottom: 2rem; /* Space between rows */
}

.box-project {
  margin-left: 7rem; /* Space between boxes */
  padding-right: 7rem;
  text-align: left;
}

.rectangle-other {
  width: 29rem;
  height: 20rem;
  background-color: #D6F3F3;
  border: .2rem solid;
}

.rectangle-text{
  width: 29rem;
  margin-top: -1.2rem;
  color: var(--dark-grey-80, #101214);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}

.box-project p{
  margin-top: -1.3rem;
  color: var(--dark-grey-60, #73808D);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 120% */
  letter-spacing: 0.03125rem;
}

.proj1-projects {
  padding-left: 2.5rem;
  width: 25rem;
  height: 20rem;
}

.code-research{
  text-align: center;
  margin-top: 1rem;
  color: var(--dark-grey-80, #101214);
  font-family: Helvetica;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 100% */
  letter-spacing: 0.0625rem;
}

.rec-1{
  width: 20.3125rem;
  height: 32rem;
  background-color: rgba(0, 83, 156, 0.78);
  border-radius: 0.625rem;
}

.design {
  text-align: center;
}

.code {
  text-align: center;
}

.ideate {
  margin: 0rem;
  text-align: center;
}

.ideate h3, .code h3, .design h3{
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 75% */
}

.ideate h4, .design h4, .code h4 {
  text-align: left !important;
  margin-left: 2rem;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 120% */
}

.ideate p, .design p, .code p{
  text-align: left !important;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 171.429% */
}

.rec-2 {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 10rem;
  height: 2.6rem;
  border-radius: 0.625rem;
  background-color: #EEA47F;
}

.rec-2-code {
  margin-top: 2rem;
  margin-left: 5rem;
  width: 10rem;
  height: 2.6rem;
  border-radius: 0.625rem;
  background-color: #EEA47F;
}

.rec-2-ideate {
  margin-top: 3.5rem;
  margin-left: 5rem;
  width: 10rem;
  height: 2.6rem;
  border-radius: 0.625rem;
  background-color: #EEA47F;
}

.rec-2 p {
  width: 10rem;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
  margin: 1rem;
  padding-top: .4rem;
}

.rec-2-ideate p {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
  padding-left: 1.8rem;
  padding-top: .5rem;
}

.rec-2-code p {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
  padding-left: 1.3rem;
  padding-top: .5rem;
}

.mirofigma {
  margin-top: 1.88rem;
  max-width: 17rem;
  max-height: 8rem;
  border-radius: 0.625rem;
}

.research-link{
  text-decoration: none;
}
