* {
  box-sizing: border-box;
}

.MuiTimelineConnector-root{
  width: 20rem;
}

body{
  margin:0;
}

.container {
  margin: 1rem;
  text-align: center;

}

.site-title  {
  font-family: Helvetica;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.egg{
  width: 8rem;
  height: 5rem;
  margin-left: -2.5rem;
  margin-top: .4rem;
  
}

.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch; /*hover spans entire container*/
  gap: 2rem; /*space in between elements*/
  padding: 0 1rem; /*left and right spaces*/
  height: 4rem;
  border-bottom: .2rem solid black;
  background-color: white;
}


.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display:flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active{
  background-color: #7c7474;
}

.nav li:hover{
  background-color: #777;
}

.home-container {
  text-align: left;
  margin: 3rem;
  font-size: 3rem;
}

.home-body{
  /*border: 2px solid #000; */
  background-color: #FEF6E4;
}
.name{
  font-size: 2.3rem;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
}

.about-me {
  padding: 5rem;
  margin: 2rem;
  font-size: 1.8rem;
}

.sing {
  padding: 2rem;
  margin: 3rem;
  height: 32rem;
  width: 25rem;
}

.background-container {
  display: flex;
  align-items: center;
}

.taiwan {
  height: 30rem;
  width: 40rem;
  padding: 5rem;
  margin: 1rem;
}

.background {
  font-size:1.8rem;
  padding: 2rem;
}


.skill-top{
  text-align: center;
}

.skill-middle-container{
  text-align: left;
  margin: 5rem;
  align-items: left;
}

.skill-middle-container h2 {
  text-align: left;
  margin-left: 12rem;
}

.skills-body{
  display:inline-flex;
}

.timeline{
 flex-basis: 300rem; /* sets initial flexbox width*/
}

.find-me{
  margin-right: 2rem; 
  flex-basis: 50rem; 
}

.git{
  width: 2rem;
  height: 2rem;
}

.link{
  width: 2rem;
  height: 2rem;
}

.find-me ul{
 margin: 1rem 0;
 margin-left: -1.6rem;
 line-height: 3rem;
}

.skills-head {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.canDo h2{
  text-align: center;
  margin-left: 3rem;
  margin-top: 5rem;
}
.greeting {
  color: #000;
  font-family: Helvetica;
  font-size: 5.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  display: flex;
}

.ytop{
  width: 45rem;
  height:40rem;
  flex-shrink: 0;
  float: right;
  margin-right: 10rem;
  margin-top: -30rem;
  margin-bottom: -5rem;
}

.bblob{
  float: right;
  margin-top: -40rem;
  max-height: 20rem;
  max-width: 20rem;
  margin-right: 0rem;
}

.rblob{
  height: 28rem;
  margin-top: -7rem;
  margin-bottom: -3rem;
}

.home-body{
  color: #000;
  font-family: Actor;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 2.4rem */
  padding: 2rem;
  width: 40.75rem;
  margin-left: 26rem;
  margin-top: -14rem;
}

.row-container{
  display:flex;
  font-size: 2rem;
  border: .2rem solid black; 
}

.row {
  width: 50%;
  height: 33.75rem;
  background-color: #00539C;

}

.row2 {
  width: 50%;
  height: 33.75rem;
  background-color: #EEA47F;
}

.row h1, .row2 h1 {
  margin: 1rem;
  color: #000;
  font-family: Helvetica;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 3.5rem */
}


.row p, .row2 p{
  margin: 1rem;
  color: #000;
  font-family: Helvetica;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
}

.footer{
  display:flex;
  font-size: 3.5rem;
}

.email{
  width: 50%;
  height: 10rem;
  font-size: 2.3rem;
  text-align: center;
  border-right: .1rem solid black; 
  border-bottom: .1rem solid black; 
}

.socials{
  width: 50%;
  height: 10rem;
  font-size: 2.3rem;
  text-align: center;
  border-left: .1rem solid black; 
  border-bottom: .1rem solid black; 
}

.case2container{
  margin-bottom: 0rem;
}
.case2{
  height: auto; 
  width: auto; 
  max-width: 20.8125rem;
  max-height: 18.5rem;
  float:right;
  margin-top: 3.25rem;

}
